@font-face {
    font-family: 'Sansation';
    src: url('../fonts/SansationLight.eot');
    src: url('../fonts/SansationLight.eot?#iefix') format('embedded-opentype'), url('../fonts/SansationLight.woff2') format('woff2'), url('../fonts/SansationLight.woff') format('woff'), url('../fonts/SansationLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sansation';
    src: url('../fonts/SansationBoldItalic.eot');
    src: url('../fonts/SansationBoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/SansationBoldItalic.woff2') format('woff2'), url('../fonts/SansationBoldItalic.woff') format('woff'), url('../fonts/SansationBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sansation';
    src: url('../fonts/SansationBold.eot');
    src: url('../fonts/SansationBold.eot?#iefix') format('embedded-opentype'), url('../fonts/SansationBold.woff2') format('woff2'), url('../fonts/SansationBold.woff') format('woff'), url('../fonts/SansationBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sansation';
    src: url('../fonts/SansationRegular.eot');
    src: url('../fonts/SansationRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/SansationRegular.woff2') format('woff2'), url('../fonts/SansationRegular.woff') format('woff'), url('../fonts/SansationRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sansation';
    src: url('../fonts/SansationItalic.eot');
    src: url('../fonts/SansationItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/SansationItalic.woff2') format('woff2'), url('../fonts/SansationItalic.woff') format('woff'), url('../fonts/SansationItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sansation';
    src: url('../fonts/SansationLightItalic.eot');
    src: url('../fonts/SansationLightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/SansationLightItalic.woff2') format('woff2'), url('../fonts/SansationLightItalic.woff') format('woff'), url('../fonts/SansationLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: $fontSansation;
    p {
        font-size: 16px;
        line-height: 26px;
    }
    a {
        text-decoration: none;
    }
    nav.navbar {
        ul.navbar-nav {
            li {
                a.nav-link {
                    font-size: 14px;
                    line-height: 24px;
                    padding: 8px 15px;
                    &:hover {
                        color: $white;
                    }
                }
                &:first-child {
                    a.nav-link {
                        color: $blue;
                        &:hover {
                            color: $white;
                        }
                    }
                }
                &:nth-child(2) {
                    a.nav-link {
                        color: $green;
                        &:hover {
                            color: $white;
                        }
                    }
                }
                &:nth-child(4) {
                    a.nav-link {
                        background-color: $theme-black;
                        border-radius: 5px;
                        padding: 8px 30px;
                        color: $white;
                        margin: 0 15px;
                    }
                }
            }
        }
    }
}

nav.navbar.navbar-expand-md.navbar-dark.bg-primary {
    background-color: rgba(53, 53, 53, .6) !important;
    position: absolute;
    width: 100%;
}

a.navbar-brand.custom-logo-link {
    max-width: 50px;
}

section.home-banner {
    //height: 100vh;
    min-height: 880px;
    padding: 80px 0;
    .banner-box {
        max-width: 650px;
        min-height: 800px;
        display: flex;
        align-items: center;
        h2.title {
            font-size: 55px;
            line-height: 66px;
            font-weight: 700;
            color: #FFFFFF;
            margin-bottom: 50px;
            span {
                color: #C4C4C4;
            }
        }
        .banner-content {
            font-size: 24px;
            line-height: 34px;
            font-weight: bold;
            color: #c4c4c4;
            border-top: 1px solid #c4c4c4;
            max-width: 450px;
            padding: 20px 0;
        }
        .buttons {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    display: inline-block;
                    margin-right: 30px;
                    a.btn {
                        min-width: 250px;
                        display: inline-block;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 26px;
                        padding: 14px;
                    }
                    a.btn.btn-blue {
                        color: $blue;
                        border: 1px solid $blue;
                    }
                    a.btn.btn-green {
                        color: $green;
                        border: 1px solid $green;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

footer.footer {
    padding: 80px 0;
    .footer-logo {
        max-width: 110px;
        margin-bottom: 15px;
    }
    .designed-by {
        font-size: 10px;
        line-height: 15px;
    }
    .contact {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                padding-bottom: 10px;
                a {
                    text-decoration: none;
                    color: $theme-black;
                    span.icon {
                        width: 24px;
                        height: 20px;
                        display: inline-block;
                        margin-right: 50px;
                    }
                    storng {
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .footer-menu {
        ul {
            li {
                list-style: none;
                padding-bottom: 10px;
                a {
                    color: $theme-black;
                }
            }
        }
    }
}